.Window {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  margin: 1px;
  height: 372px;
  width: 321px;
}
.WindowClose {
  top: 0;
  right: 5px;
  z-index: 9999;
}
.WindowHead {
  border-radius: 5px 5px 0 0;
  min-height: 30px;
  background: #2d9d2d;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
  color: #fff;
  padding-top: 5px;
}
.WindowWelcome {
  font: 18px/22px "Arial", "Tahoma", "Helevetica", sans-serif;
  margin-bottom: 8px;
  font-weight: 400;
  margin-top: 5px;
}
.WindowFieldLabel {
  color: #a6a6a6;
  font: 12px/18px "Arial", "Tahoma", "Helevetica", sans-serif;
  margin-bottom: 12px;
}
.WindowFieldControlFrame {
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
  margin-bottom: 5px;
  line-height: 1;
  padding: 4px;
  color: #666666;
  /* position: relative; */
}
.WindowFieldEdit {
  font-size: 16px;
  line-height: 18px;
  color: #000;
  outline: none;
  height: 18px;
  border-style: none;
  font-weight: 600;
  width: 100%;
}
.WindowFieldEdit-textarea {
  height: 60px; /* Высота поля в пикселах */
  resize: none; /* Запрещаем изменять размер */
}
.WindowButton-chat {
  padding: 110px 15px 0 15px;
  position: relative;
  overflow: hidden;
}
.WindowButton-call {
  padding: 17px 15px 0 15px;
  position: relative;
  overflow: hidden;
}
.WindowButton-ask {
  padding: 5px 15px 0 15px;
  position: relative;
  overflow: hidden;
}
.WindowFormSendingButton {
  width: 100%;
  background-color: #2d9d2d;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 4px;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}
.WindowFormSendingButton:disabled {
  background-color: #3e5f3e;
  font-weight: bold;
}
.WindowFieldError {
  position: absolute;
  color: #f80000;
  font: italic 11px/0.5 "Arial", "Tahoma", "Helevetica", sans-serif;
}
.WindowFieldError-display-none {
  display: none;
}
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.strong-style {
  color: rgb(43, 40, 40);
  font-size: bold;
}

#ResizeBtnRight {
  border-radius: 3px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  border: 10px solid #cdd4cd;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  cursor: pointer;
}

#ResizeBtnLeft {
  border-radius: 3px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  border: 10px solid #cdd4cd;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  cursor: pointer;
}
  