.Window {
  border:solid black 1px;
  position: fixed;
  margin: 1px;
  height: 372px;
  width: 321px;
}
.WindowClose{
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 9999;
}
.WindowHead{
  min-height: 30px;
  background: #2d9d2d;
  text-align: left;
  padding-left: 10px;
  color: #fff;
  padding-top: 5px;
}
.WindowWelcome{
  font: 18px/22px 'Arial', 'Tahoma', 'Helevetica', sans-serif;
  margin-bottom: 8px;
  font-weight: 400;
  margin-top: 5px;
}
.WindowFieldLabel{
  color: #a6a6a6;
  font: 12px/18px 'Arial', 'Tahoma', 'Helevetica', sans-serif;
  margin-bottom: 7px;
}
.WindowFieldControlFrame{
  border-bottom: 1px solid #CCCCCC;
  background: #FFFFFF;
  margin-bottom: 5px;
  line-height: 1;
  padding: 4px;
  color: #666666;
  position: relative;
}
.WindowFieldEdit{
  font-size: 16px;
  line-height: 18px;
  color: #000;
  outline: none;
  height: 18px;
  border-style: none;
  font-weight: 600;
  width: 100%;
}
.WindowFieldButton{
  padding-top: 80px;
}
.WindowButton{
  padding: 0 15px 0 15px;
  overflow: hidden;
}
.WindowFormSendingButton{
  width: 100%;
  background-color: #2d9d2d;
  color: #fff;
  text-align: center;
  font-weight:bold;
  margin-bottom: 10px;
  padding-top: 4px;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}
.WindowFormSendingButton:disabled{
  background-color: #3e5f3e;
}
.WindowFieldError{
  display: block;
  color: #F80000;
  font: italic 12px/1 'Arial', 'Tahoma', 'Helevetica', sans-serif;
}
.WindowFieldError-display-none{
  display: none;
}
/* .modification-right{
  width: 12px;
  height: 12px;
  background-image: url(./resizeR.png);
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.modification-left{

} */

#WindowHeadDrag{
}